.carousel{
  height: 75vh;
}

.carousel-inner{
  height:100%;
}

.carousel-item {
  height: 100%;
}

.carousel img{
  display:block;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}